
.items{
    
    margin-left: 5px;
    overflow: hidden;
    text-decoration: none;
    margin-left: 5px;
}

lists{
    margin-left: 50px;
    display: inline;
    
}
li{
    list-style-type: none;
}
a{
  color:black;
}
.para{
    margin-top: 10%;
}
p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
}
.list2{
    position: relative;
    left: 80%;
    display: inline;
    font-size: larger;
    color: aliceblue;
    font-family:'Times New Roman', Times, serif;
    margin-left: 50px;

}
body{

    background-color: greenyellow;

}
.nav_container{
    background-color: green;
}
.credits_cont{
    margin-left: 75%;
    border: 3px solid black;
    padding-left:40px;
    border-radius: 30px;
    background-color: aquamarine;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
}

