<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    style
        include ../stylesheets/admin_index.css
    script.
      const data = !{JSON.stringify(result)};
     

  
</head>
<body>
  <div class="header">
    <h1>Admin Dashboard - Gloria Jeans</h1>
  </div>
  <div class="container">
    <div class="sidebar">
      <ul>
        <li><a href="#" class="active">Dashboard</a></li>
        <li><a href="#">Orders</a></li>
        <li><a href="#">Products</a></li>
        <li><a href="#">Customers</a></li>
        <li><a href="#">Settings</a></li>
        <li><a href="/adminlogin">Logout</a></li>
      </ul>
    </div>
    <div class="main-content">
      <h2>Dashboard</h2>
      <div class="card">
        <h3>Total Orders</h3>
        <div id="ord"><span></span></div>
        <p>Yesterday: 70</p>
      </div>
      <div class="card">
        <h3>Revenue</h3>
        <div id="revi"><span></span></div>
        <p>Yesterday: 7000Rs</p>
      </div>
      <div class="card">
        <h3>Orders Received</h3>
        <div id="table_cont"></div>
        
      </div>
      <button type="button" class="dispatch-button" onclick="dispatcher()">Dispatch Now</button>
      <div id="msg_field"><span></span></div>
    </div>
  </div>
  script
        include ../js/admin.js
</body>
</html>
