<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login Failed</title>
    style
        include ../stylesheets/usrf.css
  
</head>
<body>
  <div class="container">
    <div class="card">
      <div class="logo">
        <img src="gloria-jeans.jpg" alt="Gloria Jeans Logo" style="height: 20%; width: 20%;">
      </div>
      <h2>Login Failed</h2>
      <p class="message">Invalid email or password. Please try again.</p>
      <a href="/adminlogin" class="button">Go back to Admin Login</a>
    </div>
  </div>
</body>
</html>
