<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gloria Jeans Dashboard</title>
    style
        include ../stylesheets/dashbd.css
  
</head>
<body>
  <div class="header">
    <h1>Gloria Jeans Dashboard</h1>
  </div>

  <div class="container">
    <div class="card user-card">
      <h2>User Dashboard</h2>
      <p>Welcome to your dashboard. Here you can manage your profile, view your orders, explore new products, and take advantage of exclusive offers.</p>
      <a href="/userlogin" class="button">Go to User Dashboard</a>
    </div>

    <div class="card admin-card">
      <h2>Admin Dashboard</h2>
      <p>Welcome to the admin dashboard. Here you can manage the products, track orders, view analytics, and configure system settings.</p>
      <a href="/adminlogin" class="button">Go to Admin Dashboard</a>
    </div>
  </div>
</body>
</html>
