<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Failed</title>
    style
        include ../stylesheets/usrf.css
  
</head>
<body>
  <div class="container">
    <div class="card">
      <h2>Login Failed</h2>
      <p class="message">Invalid email or password. Please try again.</p>
      <a href="/userlogin" class="button">Go back to Login</a>
    </div>
  </div>
</body>
</html>
