<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basic Calculator</title>
    style
        include calc.css
    script
        include calc.js
</head>

<body>
    <nav>
        <ul>
            <li>Simple Calculator</li>
        </ul>
    </nav>
    <div class="container">
        <div class="resultdisplay"></div>
        <div class="calcgrid_container">
            <div class="calc_tiles numeric_tiles">1</div>
            <div class="calc_tiles numeric_tiles">2</div>
            <div class="calc_tiles numeric_tiles">3</div>
            <div class="calc_tiles operation_tiles">รท</div>
            <div class="calc_tiles numeric_tiles">4</div>
            <div class="calc_tiles numeric_tiles">5</div>
            <div class="calc_tiles numeric_tiles">6</div>
            <div class="calc_tiles operation_tiles">*</div>
            <div class="calc_tiles numeric_tiles">7</div>
            <div class="calc_tiles numeric_tiles">8</div>
            <div class="calc_tiles numeric_tiles">9</div>
            <div class="calc_tiles operation_tiles">+</div>
            <div class="calc_tiles operation_tiles">-</div>
            <div class="calc_tiles numeric_tiles">0</div>
            <div class="calc_tiles numeric_tiles">.</div>
            <div class="calc_tiles operation_tiles">=</div>
        </div>

    </div>


</body>

</html>