<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digital Clock</title>
    style
        include clock.css 
    script
        include clock.js  
</head>
<body>
    <nav>
        <ul>
            <li>Digital Clock</li>
        </ul>
    </nav>
    <div class="container">
        <div class="clock_container">

        </div>
        <button type="submit" id="btn">12h time frame</button>
        <button type="submit" id="btn2">24h time frame</button>
    </div>
    
</body>
</html>