<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup-Login</title>
    style
        include sign_log.css
</head>
<body>
    <div class="navbar">
        <nav>
            <ul>
                <a href="/"><li>Home</li></a>
                <li id="sig">SignUp-Login</li>
            </ul>
        </nav>
    </div>
    <div class="conatiner">
        <div class="login_box">
            <form action="/sign_logsubmit" method="post" target="_blank">
                <input type="text" name="fname" id="fname" placeholder="  First name" required><br>
                <input type="text" name="lname" id="lname" placeholder="  Last name" required><br>
                <input type="email" name="mail" id="mail" placeholder="  Email address" required><br>
                <input type="password" name="pass" id="pass" placeholder="  Password here" required><br>
                <input type="submit" value="Create New Account" id="btn">
            </form>
        <a href="/login"><input type="submit" value="Login" id="btnn"></a> <span>(If already Exist)</span>              
        </div>
    </div>
    script.
        if (`#{isSignUp}`)
        {
            var box = document.querySelector('.login_box');
            var n_p = document.createElement("p");
            var p_text = document.createTextNode("Account Created Succefully,Please Verify Your Account by Enter Code send to Your Email Address");
            n_p.appendChild(p_text);
            box.appendChild(n_p);
        }          
        if(`#{isNotSignUp}`)
        {
            var box = document.querySelector('.login_box');
            var n_p = document.createElement("p");
            var p_text = document.createTextNode("This account is Already Registered with the provided Email Address");
            n_p.appendChild(p_text);
            box.appendChild(n_p);
        }
   
</body>
</html>